@font-face {
	font-family: "Inter";
	src: url("/assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

:root {
	--clr-green: hsl(75, 94%, 57%);
	--clr-white: hsl(0, 0%, 100%);
	--clr-grey700: hsl(0, 0%, 20%);
	--clr-grey800: hsl(0, 0%, 12%);
	--clr-grey900: hsl(0, 0%, 8%);

	--paragraph-sm: 14px;

	--font-weight-light: 400;
	--font-weight-medium: 600;
	--font-weight-heavy: 700;
}

* {
	margin: 0;
}

body {
	height: 100vh;
	font-family: "Inter", sans-serif;
	color: var(--clr-stone600);
	background-color: var(--clr-grey900);
}

.container {
	display: grid;
	place-items: center; 
	grid-template-rows: 1fr auto;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 1rem;
}

p,
.card__link-item {
	font-size: var(--paragraph-sm);
}

.card {	
	display: grid;
	place-items: center; 
	padding: 2rem 3rem; 
	border-radius: 15px;
	background-color: var(--clr-grey800);
	margin-bottom: 2rem; 
}

.card__image {
	border-radius: 50%;	
	width: 30%;
	margin-bottom: 2rem;
	transition: transform 3s ease, box-shadow 2s ease;
}

.card__image:hover {
	cursor: pointer;
	transform: rotate(360deg);
	box-shadow: 0 0 50px 0 white;
}

@keyframes radiate {
	0%,100% {
		box-shadow: 0 0 0px 0 black;
	}
	25%,75% {
		box-shadow: 0 0 25px 0 white;
	}
	50% {
		box-shadow: 0 0 50px 0 white;
	}
}


.card__image--animate {
	/* animation-name: radiate;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: none; */
	animation: radiate 2.5s linear;
}

.card__name {	
	font-weight: var(--font-weight-medium);
	font-size: 1.5rem;
	margin-bottom: 0.8rem;
	color: var(--clr-white);
}

.card__location {
	font-weight: var(--font-weight-heavy);
	color: var(--clr-green);
	margin-bottom: 0.8rem;
}

.card__about {
	font-weight: var(--font-weight-light);
	color: var(--clr-white);
	padding: 1rem;
	text-align: center;
}

.card__link {	
	width: 100%;
	margin-top: 0.5rem;
}

.card__link-item {
	display: block;
	text-decoration: none;	
	color: var(--clr-white);
	text-align: center;
	padding: 0.8rem;
	border-radius: 7px;
	background-color: var(--clr-grey700);
	font-weight: var(--font-weight-heavy);
	transition: background-color 0.8s ease, color 0.5s ease, transform 0.3s ease;
}

.card__link-item:not(:last-child) {
	margin-bottom: 0.8rem;
}

.card__link-item:hover {
	cursor: pointer;
	background-color: var(--clr-green);
	color: var(--clr-grey900);
	font-size: 15px;
	transform: scale(1.05);
}

.attribution .attribution__link {
	color: var(--clr-green);
}

